@import "~materialize-css/dist/css/materialize.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav ul .active {
  background-color: rgba(0, 0, 0, 0.2);
}

nav li:hover {
  cursor: pointer;
}

.add-height {
  margin-top: 5rem;
  height: 100%;
}

.expense {
  background-color: rgba(255, 0, 0, .3)
}

.revenue {
  background-color: rgba(0, 128, 0, .3)
}